* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", "Noto Sans Myanmar", sans-serif;
}

@keyframes swap {
  0% {
    transform: translateX(0) scale(1);
    z-index: 1;
  }
  25% {
    transform: translateX(20px) scale(0.85);
  }
  50% {
    transform: translateX(40px) scale(1);
    z-index: 2;
  }
  75% {
    transform: translateX(20px) scale(0.85);
  }
  100% {
    transform: translateX(0) scale(1);
    z-index: 1;
  }
}
